# Python bytecode и кэш
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
env/
.env/

# Файлы базы данных SQLite
db.sqlite3

# Миграции, если не хотите хранить
#*/migrations/

# Логи и временные файлы
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn

# Файлы IDE и редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Файлы сборок и дистрибутивов Python
build/
dist/
*.egg-info/
.eggs/

# Файлы тестов покрытия кода
.coverage
.coverage.*

# Секретные файлы, переменные окружения
.env
.local_settings.py

# Медиафайлы (если не храните в репозитории)
media/

# Статические файлы (если собираете отдельно)
staticfiles/
